# Demo showing how to load data using Jupyter

## Setting Project path

1. Clone the project from Github repository
2. Then run the cell below with project path as the path where the head directory of project is located

In [1]:
import sys
project_path = "PycharmProjects/Amazon-Mining"
# make sure to use position 1
sys.path.insert(1, project_path)

## loading packages

The package to load the JSON data is already created in 'data/json_loader.py' which inherits the interface 'data/loader.py', which is the generic data loader for any type of data. In order to add any new capabilities to data loading:
1. Add the function in 'data/loader.py' interface
2. Implement definition in the respective data wrapper (for example: 'data/json_loader.py')

In [2]:
from src.data.json_loader import JSONLoader

In [3]:
# file_path corresponds to the file of the .gz file which contains the JSON file. 
file_path = 'Documents\DataMining/reviews_Electronics_5.json.gz'
loader = JSONLoader()

## importing data

In [4]:
# data is a Pandas Dataframe object.
data = loader.load_data(file_path)

In [5]:
data.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>reviewerID</th>
      <th>asin</th>
      <th>reviewerName</th>
      <th>helpful</th>
      <th>reviewText</th>
      <th>overall</th>
      <th>summary</th>
      <th>unixReviewTime</th>
      <th>reviewTime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>AO94DHGC771SJ</td>
      <td>0528881469</td>
      <td>amazdnu</td>
      <td>[0, 0]</td>
      <td>We got this GPS for my husband who is an (OTR)...</td>
      <td>5.0</td>
      <td>Gotta have GPS!</td>
      <td>1370131200</td>
      <td>06 2, 2013</td>
    </tr>
    <tr>
      <th>1</th>
      <td>AMO214LNFCEI4</td>
      <td>0528881469</td>
      <td>Amazon Customer</td>
      <td>[12, 15]</td>
      <td>I'm a professional OTR truck driver, and I bou...</td>
      <td>1.0</td>
      <td>Very Disappointed</td>
      <td>1290643200</td>
      <td>11 25, 2010</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A3N7T0DY83Y4IG</td>
      <td>0528881469</td>
      <td>C. A. Freeman</td>
      <td>[43, 45]</td>
      <td>Well, what can I say.  I've had this unit in m...</td>
      <td>3.0</td>
      <td>1st impression</td>
      <td>1283990400</td>
      <td>09 9, 2010</td>
    </tr>
    <tr>
      <th>3</th>
      <td>A1H8PY3QHMQQA0</td>
      <td>0528881469</td>
      <td>Dave M. Shaw "mack dave"</td>
      <td>[9, 10]</td>
      <td>Not going to write a long review, even thought...</td>
      <td>2.0</td>
      <td>Great grafics, POOR GPS</td>
      <td>1290556800</td>
      <td>11 24, 2010</td>
    </tr>
    <tr>
      <th>4</th>
      <td>A24EV6RXELQZ63</td>
      <td>0528881469</td>
      <td>Wayne Smith</td>
      <td>[0, 0]</td>
      <td>I've had mine for a year and here's what we go...</td>
      <td>1.0</td>
      <td>Major issues, only excuses for support</td>
      <td>1317254400</td>
      <td>09 29, 2011</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
data.tail()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>reviewerID</th>
      <th>asin</th>
      <th>reviewerName</th>
      <th>helpful</th>
      <th>reviewText</th>
      <th>overall</th>
      <th>summary</th>
      <th>unixReviewTime</th>
      <th>reviewTime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1689183</th>
      <td>A34BZM6S9L7QI4</td>
      <td>B00LGQ6HL8</td>
      <td>Candy Cane "Is it just me?"</td>
      <td>[1, 1]</td>
      <td>Burned these in before listening to them for a...</td>
      <td>5.0</td>
      <td>Boom -- Pop -- Pow.  These deliver.</td>
      <td>1405555200</td>
      <td>07 17, 2014</td>
    </tr>
    <tr>
      <th>1689184</th>
      <td>A1G650TTTHEAL5</td>
      <td>B00LGQ6HL8</td>
      <td>Charles Spanky "Zumina Reviews"</td>
      <td>[0, 0]</td>
      <td>Some people like DJ style headphones or earbud...</td>
      <td>5.0</td>
      <td>Thin and light, without compromising on sound ...</td>
      <td>1405382400</td>
      <td>07 15, 2014</td>
    </tr>
    <tr>
      <th>1689185</th>
      <td>A25C2M3QF9G7OQ</td>
      <td>B00LGQ6HL8</td>
      <td>Comdet</td>
      <td>[0, 0]</td>
      <td>I&amp;#8217;m a big fan of the Brainwavz S1 (actua...</td>
      <td>5.0</td>
      <td>Same form factor and durability as the S1 with...</td>
      <td>1405555200</td>
      <td>07 17, 2014</td>
    </tr>
    <tr>
      <th>1689186</th>
      <td>A1E1LEVQ9VQNK</td>
      <td>B00LGQ6HL8</td>
      <td>J. Chambers</td>
      <td>[0, 0]</td>
      <td>I've used theBrainwavz S1 In Ear Headphones, a...</td>
      <td>5.0</td>
      <td>Superb audio quality in a very comfortable set...</td>
      <td>1405641600</td>
      <td>07 18, 2014</td>
    </tr>
    <tr>
      <th>1689187</th>
      <td>A2NYK9KWFMJV4Y</td>
      <td>B00LGQ6HL8</td>
      <td>Mike Tarrani "Jazz Drummer"</td>
      <td>[0, 0]</td>
      <td>Normally when I receive a review sample I can ...</td>
      <td>5.0</td>
      <td>Exceptional sound</td>
      <td>1405209600</td>
      <td>07 13, 2014</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
data.describe()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>overall</th>
      <th>unixReviewTime</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1.689188e+06</td>
      <td>1.689188e+06</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>4.222779e+00</td>
      <td>1.340571e+09</td>
    </tr>
    <tr>
      <th>std</th>
      <td>1.185632e+00</td>
      <td>6.342451e+07</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.000000e+00</td>
      <td>9.292320e+08</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>4.000000e+00</td>
      <td>1.318118e+09</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>5.000000e+00</td>
      <td>1.360800e+09</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>5.000000e+00</td>
      <td>1.385078e+09</td>
    </tr>
    <tr>
      <th>max</th>
      <td>5.000000e+00</td>
      <td>1.406074e+09</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
data.shape

(1689188, 9)

Data Types of Columns

In [9]:
data.dtypes

reviewerID         object
asin               object
reviewerName       object
helpful            object
reviewText         object
overall           float64
summary            object
unixReviewTime      int64
reviewTime         object
dtype: object

Null Values in data

In [10]:
data.isnull().sum()

reviewerID            0
asin                  0
reviewerName      24730
helpful               0
reviewText            0
overall               0
summary               0
unixReviewTime        0
reviewTime            0
dtype: int64

Number of Products reviewed

In [11]:
data.loc[:,'asin'].unique().shape[0]

63001

Numbers of Distinct Reviewers

In [12]:
data.loc[:,'reviewerID'].unique().shape[0]

192403

In [13]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import plotly.plotly as py
#py.set_credentials_file(username='raoshaheryarkhan', api_key='KswnKD2cSzUMp6zxf25p')
import plotly.figure_factory as ff
import math

Overall Product ratings and by people count

In [14]:

da_o = data[['asin','overall']].groupby(['asin']).mean()
da_r = data[['asin','reviewerID']].groupby(['asin']).count()
pd.concat([da_o, da_r], axis=1)

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>overall</th>
      <th>reviewerID</th>
    </tr>
    <tr>
      <th>asin</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0528881469</th>
      <td>2.400000</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0594451647</th>
      <td>4.200000</td>
      <td>5</td>
    </tr>
    <tr>
      <th>0594481813</th>
      <td>4.000000</td>
      <td>8</td>
    </tr>
    <tr>
      <th>0972683275</th>
      <td>4.461187</td>
      <td>219</td>
    </tr>
    <tr>
      <th>1400501466</th>
      <td>3.953488</td>
      <td>43</td>
    </tr>
    <tr>
      <th>1400501520</th>
      <td>4.400000</td>
      <td>20</td>
    </tr>
    <tr>
      <th>1400501776</th>
      <td>4.150000</td>
      <td>20</td>
    </tr>
    <tr>
      <th>1400532620</th>
      <td>3.609756</td>
      <td>41</td>
    </tr>
    <tr>
      <th>1400532655</th>
      <td>3.807339</td>
      <td>109</td>
    </tr>
    <tr>
      <th>140053271X</th>
      <td>3.830986</td>
      <td>71</td>
    </tr>
    <tr>
      <th>1400532736</th>
      <td>3.230769</td>
      <td>13</td>
    </tr>
    <tr>
      <th>1400599997</th>
      <td>3.902439</td>
      <td>41</td>
    </tr>
    <tr>
      <th>1400698987</th>
      <td>4.214286</td>
      <td>28</td>
    </tr>
    <tr>
      <th>1400699169</th>
      <td>4.500000</td>
      <td>12</td>
    </tr>
    <tr>
      <th>1615527613</th>
      <td>4.200000</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3744295508</th>
      <td>4.947368</td>
      <td>19</td>
    </tr>
    <tr>
      <th>3930992868</th>
      <td>5.000000</td>
      <td>7</td>
    </tr>
    <tr>
      <th>3936710058</th>
      <td>3.500000</td>
      <td>6</td>
    </tr>
    <tr>
      <th>6301977173</th>
      <td>3.000000</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7214047977</th>
      <td>4.307692</td>
      <td>13</td>
    </tr>
    <tr>
      <th>7507825604</th>
      <td>4.833333</td>
      <td>6</td>
    </tr>
    <tr>
      <th>7799813393</th>
      <td>3.500000</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8862935293</th>
      <td>3.666667</td>
      <td>6</td>
    </tr>
    <tr>
      <th>8862936826</th>
      <td>3.000000</td>
      <td>5</td>
    </tr>
    <tr>
      <th>8918010656</th>
      <td>4.428571</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9043413585</th>
      <td>3.428571</td>
      <td>7</td>
    </tr>
    <tr>
      <th>9573212900</th>
      <td>4.111111</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9573212919</th>
      <td>3.882353</td>
      <td>34</td>
    </tr>
    <tr>
      <th>9575871979</th>
      <td>4.040000</td>
      <td>25</td>
    </tr>
    <tr>
      <th>9625993428</th>
      <td>3.800000</td>
      <td>35</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>B00KHA5G6G</th>
      <td>4.391304</td>
      <td>23</td>
    </tr>
    <tr>
      <th>B00KHR4T8U</th>
      <td>4.857143</td>
      <td>14</td>
    </tr>
    <tr>
      <th>B00KHR4ZL6</th>
      <td>4.266667</td>
      <td>15</td>
    </tr>
    <tr>
      <th>B00KIMX4EY</th>
      <td>4.428571</td>
      <td>14</td>
    </tr>
    <tr>
      <th>B00KINSDK8</th>
      <td>3.538462</td>
      <td>13</td>
    </tr>
    <tr>
      <th>B00KJGY3TO</th>
      <td>3.500000</td>
      <td>6</td>
    </tr>
    <tr>
      <th>B00KJJW36G</th>
      <td>4.454545</td>
      <td>22</td>
    </tr>
    <tr>
      <th>B00KJLZDXO</th>
      <td>2.200000</td>
      <td>5</td>
    </tr>
    <tr>
      <th>B00KK9481I</th>
      <td>4.272727</td>
      <td>11</td>
    </tr>
    <tr>
      <th>B00KLGSQJ0</th>
      <td>4.800000</td>
      <td>5</td>
    </tr>
    <tr>
      <th>B00KMQ3S2E</th>
      <td>4.777778</td>
      <td>9</td>
    </tr>
    <tr>
      <th>B00KMRGB7C</th>
      <td>4.833333</td>
      <td>6</td>
    </tr>
    <tr>
      <th>B00KMRGF28</th>
      <td>3.857143</td>
      <td>7</td>
    </tr>
    <tr>
      <th>B00KMRGF3M</th>
      <td>4.000000</td>
      <td>7</td>
    </tr>
    <tr>
      <th>B00KNM763E</th>
      <td>3.761905</td>
      <td>21</td>
    </tr>
    <tr>
      <th>B00KOHKRXE</th>
      <td>4.818182</td>
      <td>11</td>
    </tr>
    <tr>
      <th>B00KOHQU58</th>
      <td>4.923077</td>
      <td>13</td>
    </tr>
    <tr>
      <th>B00KOLNVAQ</th>
      <td>4.454545</td>
      <td>11</td>
    </tr>
    <tr>
      <th>B00KONCDVM</th>
      <td>4.307692</td>
      <td>13</td>
    </tr>
    <tr>
      <th>B00KPRWAX8</th>
      <td>4.733333</td>
      <td>15</td>
    </tr>
    <tr>
      <th>B00KSLCU72</th>
      <td>5.000000</td>
      <td>13</td>
    </tr>
    <tr>
      <th>B00KVNY2KA</th>
      <td>4.900000</td>
      <td>10</td>
    </tr>
    <tr>
      <th>B00KWHMR6G</th>
      <td>3.428571</td>
      <td>14</td>
    </tr>
    <tr>
      <th>B00KXAFYZS</th>
      <td>5.000000</td>
      <td>6</td>
    </tr>
    <tr>
      <th>B00KYMCJF8</th>
      <td>4.562500</td>
      <td>16</td>
    </tr>
    <tr>
      <th>B00L21HC7A</th>
      <td>4.578947</td>
      <td>19</td>
    </tr>
    <tr>
      <th>B00L2442H0</th>
      <td>4.882353</td>
      <td>17</td>
    </tr>
    <tr>
      <th>B00L26YDA4</th>
      <td>4.500000</td>
      <td>20</td>
    </tr>
    <tr>
      <th>B00L3YHF6O</th>
      <td>5.000000</td>
      <td>21</td>
    </tr>
    <tr>
      <th>B00LGQ6HL8</th>
      <td>5.000000</td>
      <td>5</td>
    </tr>
  </tbody>
</table>
<p>63001 rows × 2 columns</p>
</div>

In [17]:
import sys
data.reviewTime = data.reviewTime .astype(str)
data['Year']=(data['reviewTime'].str[-4:])
data['Month']=(data['reviewTime'].str[0:2])
#data['helpful']=(data['helpful'].str[0:2])
#data['Day']=(data['reviewTime'].str[:2])
data['helpful'] = data['helpful'].map(lambda x: x.lstrip("[").rstrip('aAbBcC'))


data

AttributeError: 'list' object has no attribute 'lstrip'

In [15]:
data.asin.unique().shape[0]

63001

In [16]:
data.loc[0,'reviewTime']

'06 2, 2013'

In [27]:
from datetime import datetime
datetime_object = datetime.strptime(data.loc[0,'reviewTime'], '%m %d, %Y').date()
datetime_object

datetime.date(2013, 6, 2)